<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="com.guazi.growth.ab.logfilter.LogFilter" />-->
        <encoder>
            <Pattern>%t{yyyy-MM-dd HH:mm:ss.SSS} %v %h %r %s %D ms</Pattern>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />

</configuration>